name: deploy
on:
  push:
    branches:
      - main

permissions:
  contents: read
  deployments: write

jobs:
  site:
    name: deploy website
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: go-setup-and-test
      uses: ./.github/actions/go-setup-and-test
    - name: yarn-setup-and-test
      uses: ./.github/actions/yarn-setup-and-test

    - name: build ui
      working-directory: ./ui
      shell: bash
      run: yarn build

    - name: deploy to cloudflare
      uses: cloudflare/pages-action@v1
      with:
        projectName: srsim
        branch: main
        directory: ./ui/packages/web/dist
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        githubToken: ${{ secrets.GITHUB_TOKEN }}
